<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container register">
        
        <div class="form-information">
            <div class="form-information-child">
                <h2>Modificar conjunto por id {{id}}</h2>
                <form action="/bebida/modify/id" method="post" class="data">
                    <div class="form-group">
                        <label for="id_bebidas" class="form-label">
                            <input type="text" placeholder={{id_bebidas}} class="form-control" name="id_bebidas" aria-describedby="textHelp">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="nombre" class="form-label">
                            <input type="text" placeholder={{nombre}} class="form-control" name="nombre" aria-describedby="textHelp">
                        </label>
                    </div>
                    <!-- <label>
                        <input type="text" placeholder="Empresa">
                    </label> -->
                    <div class="form-group">
                        <label for="Pos_1" class="form-label">
                            <input type="text" placeholder={{Pos_1}}  class="form-control" name="Pos_1" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_2" class="form-label">
                            <input type="text" placeholder={{Pos_2}} class="form-control" name="Pos_2" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_3" class="form-label">
                            <input type="text" placeholder={{Pos_3}} class="form-control" name="Pos_3" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_4" class="form-label">
                            <input type="text" placeholder={{Pos_4}} class="form-control" name="Pos_4" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_5" class="form-label">
                            <input type="text" placeholder={{Pos_5}} class="form-control" name="Pos_5" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_6" class="form-label">
                            <input type="text" placeholder={{Pos_6}} class="form-control" name="Pos_6" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_7" class="form-label">
                            <input type="text" placeholder={{Pos_7}} class="form-control" name="Pos_7" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_8" class="form-label">
                            <input type="text" placeholder={{Pos_8}} class="form-control" name="Pos_8" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_9" class="form-label">
                            <input type="text" placeholder={{Pos_9}} class="form-control" name="Pos_9" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_10" class="form-label">
                            <input type="text" placeholder={{Pos_10}} class="form-control" name="Pos_10" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_11" class="form-label">
                            <input type="text" placeholder={{Pos_11}} class="form-control" name="Pos_11" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_12" class="form-label">
                            <input type="text" placeholder={{Pos_12}} class="form-control" name="Pos_12" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_13" class="form-label">
                            <input type="text" placeholder={{Pos_13}} class="form-control" name="Pos_13" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_14" class="form-label">
                            <input type="text" placeholder={{Pos_14}} class="form-control" name="Pos_14" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_15" class="form-label">
                            <input type="text" placeholder={{Pos_15}} class="form-control" name="Pos_15" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_16" class="form-label">
                            <input type="text" placeholder={{Pos_16}} class="form-control" name="Pos_16" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_17" class="form-label">
                            <input type="text" placeholder={{Pos_17}} class="form-control" name="Pos_17" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_18" class="form-label">
                            <input type="text" placeholder={{Pos_18}} class="form-control" name="Pos_18" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_19" class="form-label">
                            <input type="text" placeholder={{Pos_19}} class="form-control" name="Pos_19" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_20" class="form-label">
                            <input type="text" placeholder={{Pos_20}} class="form-control" name="Pos_20" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_21" class="form-label">
                            <input type="text" placeholder={{Pos_21}} class="form-control" name="Pos_21" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_22" class="form-label">
                            <input type="text" placeholder={{Pos_22}} class="form-control" name="Pos_22" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_23" class="form-label">
                            <input type="text" placeholder={{Pos_23}} class="form-control" name="Pos_23" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_24" class="form-label">
                            <input type="text" placeholder={{Pos_24}} class="form-control" name="Pos_24" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_25" class="form-label">
                            <input type="text" placeholder={{Pos_25}} class="form-control" name="Pos_25" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_26" class="form-label">
                            <input type="text" placeholder={{Pos_26}} class="form-control" name="Pos_26" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_27" class="form-label">
                            <input type="text" placeholder={{Pos_27}} class="form-control" name="Pos_27" aria-describedby="text">
                        </label>
                    </div>

                    <input type="submit" value="Enivar" class="button">
                    
                </form>
                <h2>Modificar conjunto por nombre {{name}}</h2>
                <form action="/bebida/modify/name" method="post" class="data">
                    <div class="form-group">
                        <label for="nombre" class="form-label">
                            <input type="text" placeholder={{nombre_n}} class="form-control" name="nombre" aria-describedby="textHelp">
                        </label>
                    </div>
                    <!-- <label>
                        <input type="text" placeholder="Empresa">
                    </label> -->
                    <div class="form-group">
                        <label for="Pos_1" class="form-label">
                            <input type="text" placeholder={{Pos_1_n}}  class="form-control" name="Pos_1" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_2" class="form-label">
                            <input type="text" placeholder={{Pos_2_n}} class="form-control" name="Pos_2" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_3" class="form-label">
                            <input type="text" placeholder={{Pos_3_n}} class="form-control" name="Pos_3" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_4" class="form-label">
                            <input type="text" placeholder={{Pos_4_n}} class="form-control" name="Pos_4" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_5" class="form-label">
                            <input type="text" placeholder={{Pos_5_n}} class="form-control" name="Pos_5" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_6" class="form-label">
                            <input type="text" placeholder={{Pos_6_n}} class="form-control" name="Pos_6" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_7" class="form-label">
                            <input type="text" placeholder={{Pos_7_n}} class="form-control" name="Pos_7" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_8" class="form-label">
                            <input type="text" placeholder={{Pos_8_n}} class="form-control" name="Pos_8" aria-describedby="text">
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="Pos_9" class="form-label">
                            <input type="text" placeholder={{Pos_9_n}} class="form-control" name="Pos_9" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_10" class="form-label">
                            <input type="text" placeholder={{Pos_10_n}} class="form-control" name="Pos_10" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_11" class="form-label">
                            <input type="text" placeholder={{Pos_11_n}} class="form-control" name="Pos_11" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_12" class="form-label">
                            <input type="text" placeholder={{Pos_12_n}} class="form-control" name="Pos_12" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_13" class="form-label">
                            <input type="text" placeholder={{Pos_13_n}} class="form-control" name="Pos_13" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_14" class="form-label">
                            <input type="text" placeholder={{Pos_14_n}} class="form-control" name="Pos_14" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_15" class="form-label">
                            <input type="text" placeholder={{Pos_15_n}} class="form-control" name="Pos_15" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_16" class="form-label">
                            <input type="text" placeholder={{Pos_16_n}} class="form-control" name="Pos_16" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_17" class="form-label">
                            <input type="text" placeholder={{Pos_17_n}} class="form-control" name="Pos_17" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_18" class="form-label">
                            <input type="text" placeholder={{Pos_18_n}} class="form-control" name="Pos_18" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_19" class="form-label">
                            <input type="text" placeholder={{Pos_19_n}} class="form-control" name="Pos_19" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_20" class="form-label">
                            <input type="text" placeholder={{Pos_20_n}} class="form-control" name="Pos_20" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_21" class="form-label">
                            <input type="text" placeholder={{Pos_21_n}} class="form-control" name="Pos_21" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_22" class="form-label">
                            <input type="text" placeholder={{Pos_22_n}} class="form-control" name="Pos_22" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_23" class="form-label">
                            <input type="text" placeholder={{Pos_23_n}} class="form-control" name="Pos_23" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_24" class="form-label">
                            <input type="text" placeholder={{Pos_24_n}} class="form-control" name="Pos_24" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_25" class="form-label">
                            <input type="text" placeholder={{Pos_25_n}} class="form-control" name="Pos_25" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_26" class="form-label">
                            <input type="text" placeholder={{Pos_26_n}} class="form-control" name="Pos_26" aria-describedby="text">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Pos_27" class="form-label">
                            <input type="text" placeholder={{Pos_27_n}} class="form-control" name="Pos_27" aria-describedby="text">
                        </label>
                    </div>

                    <input type="submit" value="Enivar" class="button">
                    
                </form>
            </div>
        </div>
    </div>
    <!-- <script src="../static/code/script.js"></script> -->
</body>
</html>