<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles_login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <div class="container register">
        
        <div class="form-information">
            <div class="form-information-child">
                <h2>Eliminar bebida por nombre</h2>
                <form action="/bebida/delete/name" method="post" class="data">
                    <div class="form-group">
                        <label for="nombre" class="form-label">
                            <input type="text" placeholder="Nombre de conjunto" class="form-control" name="nombre" aria-describedby="textHelp">
                        </label>
                    </div>
                    

                    <input type="submit" value="Enviar" class="button">
                    
                </form>
                <h2>Eliminar bebida por id</h2>
                <form action="/bebida/delete/id" method="post" class="data">
                    <div class="form-group">
                        <label for="id_bebidas" class="form-label">
                            <input type="text" placeholder="ID del conjunto" class="form-control" name="id_bebidas" aria-describedby="textHelp">
                        </label>
                    </div>
                    

                    <input type="submit" value="Enviar" class="button">
                    
                </form>
            </div>
        </div>
    </div>
    <!-- <script src="../static/code/script.js"></script> -->
</body>
</html>