<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de espera</title>
    <link rel="stylesheet" href="../static/css/style_pantalla_espera.css">
</head>

<body>
    <div class="principal">
        <div class="lista-espera">
            <div class="titulos">
                <h2>LISTA DE ESPERA</h2>
            </div>
            <div class="lista-espera-row">

                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Bebida</th>
                            <th>Hora de retiro aprox.</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td>{{ item.nombre }}</td>
                            <td>{{ item.bebida }}</td>
                            <td>{{ item.tiempo }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <a href='/' class="titulos">
                <button > Home </button>
            </a> -->
        </div>
        <div class="proceso">
            <div class="proceso-column">
                <div class="titulos">
                    <h2>PREPARANDO BEBIDA DE: </h2>
                    <h1>{{nombre_cliente_actual}}</h1>
                </div>
                
                <!--
                <h1><span id="name" style="text-transform: uppercase;"></span> </h1>
                -->
                <h2><span id="estado-proceso" style="text-transform: uppercase;"></span></h2>


                <img src="../static/images/Batiendo.gif" alt="" class="gif-batido">
                <div class="estado-container">
                    <div id="estado" class="estado-barra" style="width: 0%; height: 100%; background-color: #e75b1e;">
                    </div>
                    <div class="estado-text">
                        <h2 style="margin: 0;">PROCESO %</h2>

                    </div>

                </div>
            </div>


        </div>
        <div class="info-bebida">
            <div class="info-bebida-column">
                <div class="titulos">
                    <h3>INFORMACIÓN DE</h3>
                    <h3>LA BEBIDA</h3>
                </div>
                <h2>{{nombre_bebida}}</h2>
                <img style="width: 30%; height: 5%; margin-top: 40px;" src="../static/images/vaso4.png" alt="">
                <h2>Ingredientes:</h2>
                <p>{{lista_ingredientes}}</p>
            </div>
        </div>

    </div>


    <script>
        const wsPercent = new WebSocket('http://192.168.0.241:1880/ws/porcentaje');
        const wsName = new WebSocket('http://192.168.0.241:1880/ws/name');
        const wsEstadoProceso = new WebSocket('http://192.168.0.241:1880/ws/estadoproceso');
        const refresh = new WebSocket('http://192.168.0.241:1880/ws/refresh');



        //Inicio WS refresh

        refresh.onmessage = function(event) {
            console.log('Mensaje recibido desde Node-RED:', event.data);
            // Si el mensaje es 'refresh', se recarga la página
            location.reload(); // Recarga la página
            // if (event.data === 'true') {
            //     location.reload(); // Recarga la página
            // }
        };


        // Manejar la apertura de la conexión
        refresh.onopen = function() {
            console.log('WebSocket conectado');
        };

        // Manejar errores de la conexión
        refresh.onerror = function(error) {
            console.log('WebSocket Error:', error);
        };

        // Manejar el cierre de la conexión
        refresh.onclose = function() {
            console.log('WebSocket desconectado');
        };

        //Fin WS Refresh


        // Manejar mensajes recibidos desde Node-RED
        wsPercent.onmessage = function (event) {
            const percent = event.data;
            console.log(percent);

            // Actualizar el ancho de la barra de estado
            const estadoBarra = document.getElementById('estado');
            estadoBarra.style.width = percent + '%';
        };

        wsName.onmessage = function (event) {
            // Dividir la cadena por el separador "-"
            const data = event.data.split('-');

            // Asignar el nombre del cóctel (primera parte) y el nombre de la persona (segunda parte)
            const cocktailName = data[0]; // Nombre del cóctel
            const personName = data[1]; // Nombre de la persona

            // Imprimir el nombre de la persona en el elemento con id 'name'
            document.getElementById('name').innerText = personName;

            // Imprimir el nombre del cóctel en el elemento con id 'drink'
            document.getElementById('bebida').innerText = cocktailName;
        };



        wsEstadoProceso.onmessage = function (event) {
            document.getElementById('estado-proceso').innerText = event.data;
        };
    </script>

</body>

</html>