<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Kukitas Bar - Demo </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css">


    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="../static/css/colors/orange.css" />
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.5.1/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <!-- Modernizer -->
    <script src="../static/js/modernizer.js"></script>

>

</head>

<body>

    <div class="popup_error" id="errorPopup">
        <div class="popup_error-content">
            <span class="close-btn" id="closeBtn">&times;</span>
            <h2>Error</h2>
            <!-- Usamos Jinja2 para mostrar el mensaje flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <p>{{ message }}</p>
                            
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

        </div>
    </div>

    <div id="loader">
        <div id="status"></div>
    </div>
    <div id="site-header">
        <header id="header" class="header-block-top">
            <div class="container">
                <div class="row">
                    <div class="main-menu">
                        <!-- navbar -->
                        <nav class="navbar navbar-default" id="mainNav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="logo">
                                    <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                                        <img src="../static/images/LOGO-BAR.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="#banner">Home</a></li>

                                    <li><a href="#menu">Menu</a></li>

                                    <!-- <li><a href="#gallery">Gallery</a></li> -->

                                    <!-- <li><a href="#pricing">pricing</a></li> -->

                                    <li><a href="/bebida">Bebidas</a></li>
                                    
                                    <li><a href="/pedido">Pedidos</a></li>
                                   
                                    <!-- <li><a href="#about">About us</a></li> -->
                                    <!--
                                    <li><a href="#footer">Contact us</a></li>
                                    -->
                                </ul>
                            </div>
                            <!-- end nav-collapse -->
                        </nav>
                        <!-- end navbar -->
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
        </header>
        <!-- end header -->
    </div>
    <!-- end site-header -->

    <div id="banner" class="banner full-screen-mode parallax">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>Drink with <span class="typer" id="some-id" data-delay="200" data-delim=":"
                                    data-words="KUKITA's:CARLITOS:MATEITO" data-colors="red"></span><span class="cursor"
                                    data-cursorDisplay="_" data-owner="some-id"></span></h1>
                            <h2>Accidental appearances </h2>
                            <p>El primer bar automatizado del país</p>
                            <div class="book-btn">
                                <a href="#menu" class="table-btn hvr-underline-from-center">MENÚ</a>
                            </div>

                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->



    <div id="menu" class="menu-main pad-top-100 pad-bottom-100">
        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <h2 class="block-title text-center">
                            Menú
                        </h2>
                        <p class="title-caption text-center">Este es el menu de todas las recetas disponibles.</p>
                    </div>


                    <!-- Inicio Popup-->
                    <div class="popup" id="popup">

                        <div class="cuadro-popup">
                            <h2 class="letras-popup">Tu <span id="drink-name"></span> estará lista en un par de
                                minutos!!!</h2>
                        </div>
                        <img src="../static/images/Saludo.gif" style="margin-top: 70px; height: 300px;">
                        <h2 class="letras-npopup">Cómo podemos llamarte?</h2>

                        <!-- Formulario que enviará la bebida seleccionada y el nombre -->
                        <form action="/pedido/create" method="POST" id="order-form">

                            <div class="pruban">
                                <div class="input-wrapper">
                                    
                                    <label for="nombre_cliente">
                                        <input autocomplete="off" class="input" type="text" id="nombre_cliente" name="nombre_cliente"
                                        placeholder="Escribe tu nombre" oninput="validateInput()" />
                                       
                                    </label>
                                </div>
                            </div>

                            <!-- Campo oculto para enviar el nombre de la bebida seleccionada -->
                            
                            <input type="hidden" id="selected-drink" name="nombre_bebida" value="">
                            
                            

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="reserve-book-btn text-center">

                                    <!--
                    <div class="para-botones">
                        <button class="hvr-underline-from-center" id="order-btn" disabled
                            onclick="closePopup()">ORDENAR </button>
                        <button class="hvr-underline-from-center cancel-btn" type="button"
                            onclick="cancelOrder()">CANCELAR</button>

                    </div>
                    -->
                                    <div class="para-botones">
                                        <!-- Botón de enviar que cierra el popup y envía el formulario -->
                                        <button class="hvr-underline-from-center" type="submit" value="Enviar"
                                            id="order-btn" disabled onclick="closePopup()">ORDENAR</button>
                                        <button class="hvr-underline-from-center cancel-btn" type="button"
                                            onclick="cancelOrder()">CANCELAR</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="tab-menu">
                        <div class="slider slider-nav">
                            <div class="tab-title-menu">
                                <h2>CÓCTELES</h2>
                                <p> <i class="fi fi-ts-glass-citrus" style="font-size: 50px;"></i> </p>
                            </div>

                            <div class="tab-title-menu">
                                <h2>CERVEZAS</h2>
                                <p> <i class="fi fi-rs-beer" style="font-size: 50px;"></i> </p>
                            </div>


                        </div>

                        <div class="slider slider-single">
 

                            <div class="items-menu">
                                <h2 class="block-title text-center">Selecciona una Bebida</h2>

                                <div class="bebidas-contenedor">
                                    {% for o in recetas %}
                                    <div class="bebida-item">
                                        <h2 class="block-title text-center">{{ o.nombre }}</h2>
                                        <h3 class="block-title text-center">{{ o.ingredientes }}</h3>
                                        <!-- Botón para seleccionar bebida y abrir el popup -->
                                        <button class="botonera-n" onclick="openPopup('{{ o.nombre }}')">Pedir
                                            aquí</button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                          
                            <div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-04.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>MEAT FEAST PIZZA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-05.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHICKEN TIKKA MASALA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$15</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-06.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>SPICY MEATBALLS</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$6.5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-07.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHOCOLATE FUDGECAKE</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$4.5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-08.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHICKEN TIKKA MASALA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$9.5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-09.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHICKEN TIKKA MASALA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$10</span>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-10.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>MEAT FEAST PIZZA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$12.5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-09.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHICKEN TIKKA MASALA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$9.5</span>
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <img src="../static/images/menu-item-thumbnail-08.jpg" alt=""
                                            class="img-responsive">
                                        <div>
                                            <h3>CHICKEN TIKKA MASALA</h3>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis
                                                eleifend dapibus.
                                            </p>
                                        </div>
                                        <span class="offer-price">$5.5</span>
                                    </div>
                                </div>

                                <!-- end col -->
                            </div>
                        </div>
                    </div>
                    <!-- end tab-menu -->
                </div>
                <!-- end col -->
            </div>
            <div class='row'>


            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

    </div>
    <!-- end menu -->




    
    <!-- end footer-news -->
    <div class="footer-box pad-top-70">
        <div class="container">
            <div class="row">
                <div class="footer-in-main">
                    <div class="footer-logo">
                        <div class="text-center">
                            <img src="../static/images/LOGO-BAR.png" alt="" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-a">
                            <h3>About Us</h3>
                            <p>Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis
                                parturient montes.</p>
                            <ul class="socials-box footer-socials pull-left">
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa  fa-facebook"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-twitter"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-google-plus"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-pinterest"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="social-circle-border"><i class="fa fa-linkedin"></i></div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- end footer-box-a -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-b">
                            <h3>New Menu</h3>
                            <ul>
                                <li><a href="#">Italian Bomba Sandwich</a></li>
                                <li><a href="#">Double Dose of Pork Belly</a></li>
                                <li><a href="#">Spicy Thai Noodles</a></li>
                                <li><a href="#">Triple Truffle Trotters</a></li>
                            </ul>
                        </div>
                        <!-- end footer-box-b -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-c">
                            <h3>Contact Us</h3>
                            <p>
                                <i class="fa fa-map-signs" aria-hidden="true"></i>
                                <span>6 E Esplanade, St Albans VIC 3021, Australia</span>
                            </p>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                <span>
                                    +91 80005 89080
                                </span>
                            </p>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span><a href="#">support@foodfunday.com</a></span>
                            </p>
                        </div>
                        <!-- end footer-box-c -->
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-box-d">
                            <h3>Opening Hours</h3>

                            <ul>
                                <li>
                                    <p>Monday - Thursday </p>
                                    <span> 11:00 AM - 9:00 PM</span>
                                </li>
                                <li>
                                    <p>Friday - Saturday </p>
                                    <span> 11:00 AM - 5:00 PM</span>
                                </li>
                            </ul>
                        </div>
                        <!-- end footer-box-d -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end footer-in-main -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

    </div>
    <!-- end footer-box -->
    </div>
    <!-- end footer-main -->

    <a href="#menu" class="scrollup">Scroll</a>


    <!--

    <section id="color-panel" class="close-color-panel">
        <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
        <! Colors --
        <div class="segment">
            <h4 class="gray2 normal no-padding">Color Scheme</h4>
            <a title="orange" class="switcher orange-bg"></a>
            <a title="strong-blue" class="switcher strong-blue-bg"></a>
            <a title="moderate-green" class="switcher moderate-green-bg"></a>
            <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
        </div>
    </section>
    -->

    <!-- ALL JS FILES -->
    <script src="../static/js/all.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script>
        // Conectar al WebSocket en Node-RED
        const ws = new WebSocket('http://192.168.0.241:1880/ws/data');
        const refresh = new WebSocket('http://192.168.0.241:1880/ws/refresh');

        // Enviar datos a Node-RED
        function enviarDatos() {
            const inputData = document.getElementById('input-data').value;
            ws.send(inputData); // Enviar los datos a Node-RED
        }

        // Manejar mensajes recibidos desde Node-RED
        ws.onmessage = function (event) {
            document.getElementById('response').innerText = 'Recibido: ' + event.data;
        };

        // Manejar errores de conexión
        ws.onerror = function (error) {
            console.error('WebSocket Error: ', error);
        };

        //Inicio WS refresh

        refresh.onmessage = function (event) {
            console.log('Mensaje recibido desde Node-RED:', event.data);
            // Si el mensaje es 'refresh', se recarga la página
            if (event.data === 'true') {
                location.reload(); // Recarga la página
            }
        };

        // Manejar la apertura de la conexión
        refresh.onopen = function () {
            console.log('WebSocket conectado');
        };

        // Manejar errores de la conexión
        refresh.onerror = function (error) {
            console.log('WebSocket Error:', error);
        };

        // Manejar el cierre de la conexión
        refresh.onclose = function () {
            console.log('WebSocket desconectado');
        };

        //Fin WS Refresh

        let popup = document.getElementById("popup");
        let selectedDrink = "";
        let orderBtn = document.getElementById("order-btn");

        function openPopup(drinkName) {
            //selectedDrink = drinkName;
            //document.getElementById('drink-name').textContent = drinkName;
            //popup.classList.add("open-popup");
            //ws.send(selectedDrink);
            //console.log(selectedDrink);

            selectedDrink = drinkName;
            document.getElementById('drink-name').textContent = drinkName; // Mostrar el nombre en el popup
            document.getElementById('selected-drink').value =
            drinkName; // Asignar el nombre de la bebida al input hidden
            popup.classList.add("open-popup");
            console.log(selectedDrink);
            ws.send(selectedDrink);
        }

        function validateInput() {
            let nameInput = document.getElementById('nombre_cliente').value;
            if (nameInput.trim() !== "") {
                orderBtn.disabled = false; // Habilitar el botón si el nombre no está vacío
            } else {
                orderBtn.disabled = true; // Deshabilitar el botón si el nombre está vacío
            }
        }

        function closePopup() {

            let nameInput = document.getElementById('nombre_cliente');
            let name = nameInput.value.trim();

            if (name !== "") {
                let orderDetails = `${selectedDrink}-${name}`;
                popup.classList.remove("open-popup");
                ws.send(orderDetails); // Enviar bebida y nombre por WebSocket
                console.log(orderDetails);
                document.getElementById('order-form').submit(); // Enviar el formulario

                // Limpiar el campo de nombre
                nameInput.value = "";
                orderBtn.disabled = true; // Deshabilitar el botón nuevamente
            }
        }

        function cancelOrder() {
            // Limpiar el campo de nombre
            let nameInput = document.getElementById('nombre_cliente');
            nameInput.value = "";

            // Cerrar el popup
            popup.classList.remove("open-popup");

            // Deshabilitar el botón de ORDENAR nuevamente
            orderBtn.disabled = true;
        }
    </script>
    <script>
        const popupA = document.getElementById('errorPopup');
        const closeBtn = document.getElementById('closeBtn');

        // Verifica si hay un mensaje flash y muestra el popup
        {% if get_flashed_messages() %}
            console.log('Mensaje flash');
            popupA.style.display = 'flex';
            popupA.classList.add('fade-in');
        {% endif %}

        // Cerrar popup manualmente
        closeBtn.onclick = function() {
            popupA.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == popup) {
                popupA.style.display = 'none';
            }
        }
    </script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/custom.js"></script>
</body>

</html>