@import "../../styles/helpers";

.root {
  display: flex;
  flex-direction: column;
  width: $sidebar-width-open;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 16px;
  background-color: $sidebar-color;
  overflow-y: auto;
  transition: height 1s;
  transform: translateX(-$sidebar-width-open);

  @media print {
    display: none;
  }

  :global(.sidebar-hide) & {
    display: none;
  }

  @media (max-width: breakpoint-max(sm)) {
    position: static !important;
    width: auto;
    margin: 12px 24px 0;
    border-radius: 8px;
    padding: 0;
    height: 0;
    transform: none;

    .logo,
    .sidebarAlerts,
    .sidebarLabels,
    .navTitle {
      display: none;
    }
    .linkR {

      padding-left:27px;
    }

  }
}

//.sidebarOpen {
//  @media (min-width: breakpoint-min(md)) {
//    //height: auto !important;
//  }
//}

.sidebarOpen {
  @media (max-width: breakpoint-max(sm)) {
    height: 276px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin: 16px 0 24px;
  width: 100%;

  .title {
    margin-left: 12px;
    font-size: 20px;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

.nav {
  padding-bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;

  li > a > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
  }
}

.navTitle {
  margin: 32px 0 8px;
  font-size:$font-size-sm;
  font-weight: $font-weight-normal;
  color: $base-dark-gray;
  text-transform: uppercase;
}

/* Estilo para la imagen del icono dentro del botón */
.logoutIcon {
  height: 26px; /* Controla la altura de la imagen */
  width: auto; /* Mantiene las proporciones de la imagen */
  vertical-align: middle; /* Alinea la imagen con el texto */
  margin-right: 8px; /* Espacio entre la imagen y el texto */
  color: #16365f;
}

/* Ajustes adicionales para el botón si lo necesitas */
.logout {
  display: flex; /* Para alinear el texto e imagen horizontalmente */
  align-items: center; /* Centra verticalmente la imagen y el texto */
  background-color: #ffffff; /* Color de fondo del botón */
  color: #16365f; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 20px; /* Espacio interno */
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
}

.logout:hover {
  background-color: #ff8b05; /* Cambia el color de fondo al hacer hover */
  color: #ffffff; /* Cambia el color del texto */
  border: solid 1px #ff8b05; /* Añade borde en hover */
}
svg.logoutIcon:hover  {
  color: #ffffff;
}

.linkR {
  width: 93%;
  height: 50px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  background-color: #ffffff;
  color: #16365f;
  border-radius: 4px;
}

.linkR:hover{
  background-color: #ff8b05;
  color: #ffffff;
}