@import "../../styles/helpers";

.root {

  :global {
    .input-group {
      overflow: hidden;
    }

    .input-group-prepend {
      background-color: $white;
      transition: background-color ease-in-out 0.15s;
      padding-right: 1rem;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form-control {
      background-color: $white;
      height: 45px;
      border: none;
      border-radius: .5rem;
      padding-left: 1rem;
      font-size: $font-size-base;
    }

    .nav-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.navbarBlock {
  display: flex;
  color: $icon-color;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 44px;
  width: 44px;
  border-radius: 50%;

  img {
    height: 100%
  }
}

.menuIcon {
  fill: $icon-color;
}

.notificationImage {
  margin: 8px auto 12px;
  width: 100%;
}

.mariaImage {
  margin-right: 12px;
  width: 40px;
  height: 40px;
}

.count {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 10px;
  right: 3px;
  background: $pink;
  border-radius: 50%;
}

.form-control::placeholder {
  color: red;
  opacity: 1;
}

.dropdownProfileItem {
  display: flex;
  &:hover {
    svg {
      path {
        fill: $default;
        stroke: $default;
      }
    }
  }
}

.nBotonRecetas {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%; /* Usa el 100% del contenedor padre para que sea adaptable */
  max-width: 300px; /* Limita el ancho máximo a 300px */
  height: 50px;
  padding: 0px 8px;
  border: 0;
  border-radius: 24px;
  background-color: #ff8b05;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat";
  outline: none;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño del botón */
}

.nBotonRecetas:hover {
  background-color: #ffffff;
  color: #ff8b05;
  border: solid 1px #ff8b05;
}

.quitarvaso{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 300px;
  background-color: #e01717;
  color: white;
}