/* Distribucion.module.scss */
.modalCustom {
  max-width: 500px; /* Define un ancho máximo */
  width: 90%; /* Ancho del modal (opcional) */
  margin: auto; /* Centra el modal en la pantalla */
  border-radius: 10px; /* Bordes redondeados */
  background-color: white; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra */
}

.modalBody {
  max-height: 80vh; /* Alto máximo del modal */
  overflow-y: auto; /* Añade scroll si el contenido excede el alto */
}

.modalHeader {
  display: flex;
  justify-content: space-between; /* Espacio entre el título y el botón de cerrar */
  align-items: center; /* Centra verticalmente */
}

.modalTitle {
  font-size: 1.5em; /* Ajusta el tamaño del título */
}

.modalInput {
  width: 100%; /* Asegura que los inputs ocupen todo el ancho */
}

.modalButton {
  margin: 0 5px; /* Espaciado entre botones */
  flex: 1; /* Para que los botones ocupen espacio igual */
}

.modalButtonSecondary {
  background-color: #007bff; /* Cambia el color de fondo del botón */
  color: white; /* Color del texto */
}

@media (max-width: 768px) {
  .modalCustom {
      max-width: 90%; /* Reduce el ancho máximo en pantallas pequeñas */
  }
  
  .modalTitle {
      font-size: 1.2em; /* Ajusta el tamaño del título para pantallas más pequeñas */
  }
}
