.nBotonRecetas {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 90%; /* Usa el 100% del contenedor padre para que sea adaptable */
  max-width: 300px; /* Limita el ancho máximo a 300px */
  height: 50px;
  padding: 0px 8px;
  border: 0;
  border-radius: 24px;
  background-color: #ff8b05;
  color: #ffffff;
  font-size: 14px;
  font-family: "Montserrat";
  outline: none;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño del botón */
}

.nBotonRecetas:hover {
  background-color: #ffffff;
  color: #ff8b05;
  border: solid 1px #ff8b05;
}

.total {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  text-align: center;
  width: 100%;
  height: 100%; /* Altura del viewport completo */
}

.cuadroGeneral {
  width: 60%; /* Tamaño predeterminado para pantallas grandes */
  height: auto; /* Ajusta la altura al contenido */
  background-color: #f8f8f8;
  padding: 20px;
}

/* Pantallas medianas, como tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) {
  .cuadroGeneral {
    width: 80%; /* Aumenta el ancho en pantallas medianas */
  }
}

/* Pantallas pequeñas, como móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
  .cuadroGeneral {
    width: 90%; /* Aumenta aún más el ancho en pantallas pequeñas */
    padding: 15px; /* Ajusta el padding para pantallas más pequeñas */
  }
}

/* Pantallas muy pequeñas, como móviles pequeños (ancho máximo de 480px) */
@media (max-width: 480px) {
  .cuadroGeneral {
    width: 95%; /* Casi todo el ancho en pantallas muy pequeñas */
    padding: 10px; /* Ajusta el padding para pantallas más pequeñas */
  }
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .nBotonRecetas {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px; /* Ajusta el tamaño del texto */
    padding: 0px 6px;
    height: 70px;
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .nBotonRecetas {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px; /* Ajusta aún más el tamaño del texto */
    margin-left: 0; /* Elimina el margen izquierdo en pantallas muy pequeñas */
    height: 60px; /* Ajusta la altura del botón */
  }
}
.nBotonEdicion {
    cursor: pointer;
    width: 200px;
    height: 50px;
    padding: 0px 8px;
    border: 0;
    margin-left: 15px;
    border-radius: 24px;
    background-color: #ff8b05;
    color: #ffffff;
    font-size: 14px;
    font-family: "Montserrat";
    outline: none;
}

.nBotonEdicion:hover{

    background-color: #ffffff;
    color: #ff8b05;
    border: solid 1px #ff8b05;
}


.searchContainer {
    display: flex;
    height: 80px;
    justify-content: center;
    width: 70%;
    align-items: center;
    background-color: #f5f5f5; /* Fondo claro */
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 5px;
  }
  
  .searchInputGroup {
    display: flex;
    width: 60%; /* Ajusta el ancho del buscador */
    max-width: 600px; /* Máximo ancho para pantallas grandes */
    background-color: white; /* Fondo del input */
    border-radius: 25px; /* Borde redondeado para el cuerpo del input */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .searchInput {
    border: solid 1px;
    background-color: #f4431f;
    padding: 10px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    flex: 1;
  }
  
  .searchInput:focus {
    outline: none;
    box-shadow: none;
  }
  
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #d1d1d1; /* Color del ícono */
    background-color: #ffffff; /* Fondo del área del ícono */
    
    border-top: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .input-group-no-border .input-group-addon {
    border: none;
  }
  
  .input-group-no-border input {
    border: none;
    box-shadow: none;
  }
  
  .search-icon:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el cursor */
    cursor: pointer;
  }
  